html {
    font-family: sans-serif;
    font-size: 16px;
}

body {
    margin: 0px;
    padding: 0px;
}

textarea {
    width: calc(100% - 13px);
    background-color: #18181F;
    border: 1px solid #F5EEE2;
    color: #F5EEE2;
    padding: 5px;
    height: 30px;
}

#main {
    display: grid;
    grid-template-columns: 395px 50% auto;
    background-color: #18181F;
    color: #F5EEE2;
    height: 100vh;
}

#info {
    display: grid;
    grid-template-rows: 60px auto;
    padding-bottom: 15px;
}

#info > div {
    padding: 15px 20px 0px 15px;
}

#info > #name {
    background-color: #F5EEE2;
    color: #323844;
    font-size: 1.5rem;
    font-weight: 700;
}

#info > .rows {
    display: grid;
    grid-template-rows: 415px auto;
    grid-row-gap: 15px;
}

.tabs {
    display: grid;
    grid-template-rows: 30px auto;
    grid-row-gap: 15px;
}

.tabs > .head {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, max-content));
    grid-column-gap: 25px;
    font-size: 0.9rem;
}

.tabs > .head > div {
    padding: 0px 10px;
    height: 25px;
    cursor: pointer;
}

.tabs > .head > div:hover,
.tabs > .head > div.active {
    border-bottom: 1px solid #3399FF;
}

.tabs > .body {
    background-color: #323844;
    font-size: 0.9rem;
    padding: 10px;
}

#info #map {
    overflow: hidden;
}

#info #map table {
    width: 100%;
    height: 100%;
}

#info #map td {
    box-sizing: border-box;
}

#info #map-rooms {
    background-color: #F5EEE2;
    padding: 10px;
}

#info #map .map-room {
    background-color: #F5EEE2;
    
    /* WARNING
     * 
     * 25/22px is critical for the box sizing to 
     * maintain the same dimensions for all rooms.
     * 
     * Anything lower or higher will cause 
     * the room to distort when text is added.
     * 
     */
    height: 25px;
    width: 22px;
}

#info #map .map-room.active {
    background-color: #3399FF;
    border: 4px double #18181F;
}

#info #map .map-room.active-inner-bottom {
    border-bottom: 1px solid #C0C0C0;
}

#info #map .map-room.active-inner-right {
    border-right: 1px solid #C0C0C0;
}

#info #map .map-room.loc {
    text-align: center;
    color: #18181F;
}

#info #map #map-name {
    vertical-align: bottom;
    height: 30px;
}

#info #map #map-nav {
    font-size: 0.8rem;
    vertical-align: top;
    text-align: center;
    padding-left: 10px;
    width: 50px;
}

#info #map #map-nav #map-compass {
    font-size: 2.0rem;
    margin-top: -5px;
}

#info #map #map-nav #map-compass > span {
    font-weight: bold;
}

@-moz-document url-prefix() {
    #info #map #map-nav #map-compass {
        margin-top: -12px;
        font-weight: bold;
    }
}

#info #map #map-nav .map-icon {
    font-size: 0.8rem;
    padding: 4px;
    display: inline-block;
    margin-bottom: 8px;
    background-color: #3399FF;
    border: 4px double #18181F;
    color: #18181F;
    height: 13px;
    width: 13px;
}

#info #map #map-nav .map-icon > .map-icon-you {
    margin-top: -1px;
}

#info #map #map-nav .map-icon > .map-icon-group {
    margin-top: -2px;
}

#view {
    background-color: #323844;
    font-size: 0.9rem;
    line-height: 1.5;
    display: grid;
    grid-template-rows: auto 50px;
    grid-row-gap: 15px;
    align-items: end;
    padding: 15px;
}

#chat {
    display: grid;
    grid-template-rows: 100%;
}

#chat > div {
    padding: 15px 15px 0px 20px;
}

#chat > .rows {
    display: grid;
    grid-template-rows: 100%;
}

#chat .channel {
    display: grid;
    grid-template-rows: auto 50px;
    grid-row-gap: 15px;
    align-items: end;
    padding: 15px;
}